<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<html>
<body>

<p>Click the button to get your coordinates.</p>

{#<button onclick="getLocation()">Get Coordinates</button>#}

<button type="button" id="btn_submit" class="btn btn-primary form-control" enabled onclick="getLocation()">Submit
</button>

<p id="show"></p>

<script>
    let x = document.getElementById("show");
    var http = new XMLHttpRequest();
    var url = "/init_map/coords/";

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported.";
        }
    }

    function showPosition(position) {
        {#x.innerHTML = "Latitude: " + position.coords.latitude +#}
        {#     "<br>Longitude: " + position.coords.longitude;#}
        data = position.coords;
        $.post("/init_map/coords/", data, function () {
            alert("Saved Data!");
        });

    }
</script>

</body>
</html>














