<!doctype html>
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>Travel Service</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="{% static "init_map/css/index.css" %}" rel="stylesheet">

    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container {height:calc(85% - 80px); width: 100%; position: absolute !important;}
    </style>

</head>
<body>


{% block content %}

    <script type="text/javascript">
        var collection = {{ point_s|geojsonfeature:"popup_content"|safe }};

    function onEachFeature(feature, layer) {
         if (feature.properties && feature.properties.popup_content) {
          layer.bindPopup(feature.properties.popup_content);
    }
  }

        function map_init(map, options) {
            L.geoJSON(collection, {onEachFeature: onEachFeature}).addTo(map);
        }
    </script>

    {% leaflet_map "spots" callback="window.map_init" %}

{% endblock %}

</body>
</html>